helper.py
og.py
requirements.txt
ta.py
tdp.py
temp-response.json
textractor.py
textractor.zip
trp.py
trptest.py
output.json
.venv
__pycache__
.env
registration_form-png-response.json
registration_form-png-page-1-response.json
registration_form-png-page-1-words.csv
registration_form-png-page-1-text.txt
registration_form-png-page-1-text-inreadingorder.txt
registration_form-png-page-1-forms.csv